canvas {
    margin-left: 30%;
    border: 1px solid black;
}

button {
    position: absolute;
    padding: 20px;
    background-color: rgb(200, 11, 11);
    color: #fff;
    margin: 3rem;
    border: 1px black solid;
    box-shadow: 0 0 5px black;
}

form {
    display: flex;
    flex-direction: column;
    top: 10%;
    float: left;
    position: absolute;
    left: 5%;
    text-wrap: nowrap;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #8a7a7a;
}

select, input {
    width: 80%;
}
